---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const allProjects = await getCollection("projects");
const pageTitle = "Research Projects";
---
<Layout pageTitle={pageTitle}>
    <!--<div class="gif">-->
    <!--    <img width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp"/>-->
    <!--</div>-->
    <h2>Projects</h2>
    <!--<ul role="list" class="link-card-grid">-->
    <!--    {allProjects.map((card) => <Card-->
    <!--        url={`/projects/${card.slug}/`}-->
    <!--        image={card.data.image.url}-->
    <!--        title={card.data.title} -->
    <!--        body={card.data.description}-->
    <!--    />)}-->
    <!--</ul>-->
    <ul role="list" class="link-card-grid">
        {allProjects.map((card) => <Card
            url={`/projects/${card.slug}/`}
            title={card.data.title}
            body={card.data.description}
        />)}
    </ul>

    <!--<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">-->
    <!--    <div class="bg-gray-100 p-4 rounded-lg ">-->
    <!--        <p class="font-medium">-->
    <!--        Seeing Intuitive Physics-->
    <!--        </p>-->
    <!--        <p class="italic text-sm mb-2">-->
    <!--        Author, A., & Coauthor, B. (Year)-->
    <!--        </p>-->
    <!--        <p class="text-gray-600">Journal Name, volume(issue), pages</p>-->
    <!--        <a href="" class="text-blue-600 hover:underline">DOI</a>-->
    <!--    </div>-->
    <!--    <div class="bg-gray-100 p-4 rounded-lg ">-->
    <!--        <p class="font-medium">-->
    <!--        Spontaneous Visual Routines-->
    <!--        </p>-->
    <!--        <p class="italic text-sm mb-2">-->
    <!--        Author, A., & Coauthor, B. (Year)-->
    <!--        </p>-->
    <!--        <p class="text-gray-600">Journal Name, volume(issue), pages</p>-->
    <!--        <a href="" class="text-blue-600 hover:underline">DOI</a>-->
    <!--    </div>-->
    <!--    <div class="bg-gray-100 p-4 rounded-lg ">-->
    <!--        <p class="font-medium">-->
    <!--        The Title of Your Publication-->
    <!--        </p>-->
    <!--        <p class="italic text-sm mb-2">-->
    <!--        Author, A., & Coauthor, B. (Year)-->
    <!--        </p>-->
    <!--        <p class="text-gray-600">Journal Name, volume(issue), pages</p>-->
    <!--        <a href="" class="text-blue-600 hover:underline">DOI</a>-->
    <!--    </div>-->
    <!--</div>-->
    <h2>Publication Highlights</h2>

    <p style="text-indent: 0rem; font-size: 1.0rem;">
        Wong, K. W., Bi, W., Soltani, A. A., Yildirim, I., & Scholl, B. J. (2023). Seeing soft materials draped over objects: A case study of intuitive physics in perception, attention, and memory. <i>Psychological Science</i>, <i>34</i>(1), 111-119.
        <a class="footer__link" href="https://doi.org/10.1177/09567976221109194" target="_blank">[DOI]</a>
    </p>
</Layout>

